<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test3.mapper.BoardMapper">

        <sql id="boardColumns">
            title
            , content
            , writer
            , dy
            , insert_time
            , update_time
            , delete_time
        </sql>

        <insert id="insertBoard" parameterType="com.example.test3.domain.BoardDto" useGeneratedKeys="true" keyColumn="idx">
            INSERT INTO t_board (
            <include refid="boardColumns" />
            ) VALUES (
             #{title}
            , #{content}
            , #{writer}
            , 'N'
            , NOW()
            , NULL
            , NULL
            )
        </insert>
    <select id="selectBoardDetail" parameterType="long" resultType="BoardDto">
        SELECT
        idx
        , title
        , content
        , writer
        , dy
        , insert_time
        , update_time
        , delete_time
        FROM
        t_board
        WHERE
        dy = 'N'
        AND
        idx = #{idx}
    </select>

    <update id="updateBoard" parameterType="BoardDto">
        UPDATE t_board
        SET
        update_time = NOW()
        , title = #{title}
        , content = #{content}
        , writer = #{writer}
        WHERE
        idx = #{idx}
    </update>

    <update id="deleteBoard" parameterType="long">
        UPDATE t_board
        SET
        dy = 'Y'
        , delete_time = NOW()
        WHERE
        idx = #{idx}
    </update>

    <select id="selectBoardList" parameterType="BoardDto" resultType="BoardDto">
        SELECT
        idx ,<include refid="boardColumns" />
        FROM
        t_board
        WHERE
        dy = 'N'
        <include refid="CommonMapper.search" /> <!--현재 유형없음-->
        ORDER BY
        idx DESC,
        insert_time DESC
        <include refid="CommonMapper.paging" />
    </select>

    <select id="selectBoardTotalCount" parameterType="BoardDto" resultType="int">
        SELECT
        COUNT(*)
        FROM
        t_board
        WHERE
        dy = 'N'
        <include refid="CommonMapper.search" />
    </select>
</mapper>