<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic}">


<th:block layout:fragment="title">
  <title>This page is a list page</title>
</th:block>

<th:block layout:fragment="paging">
  <nav th:replace="board/fragments/common :: search"></nav>
</th:block>


<th:block layout:fragment="content">
  <div class="table-responsive clearfix">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>등록일</th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${not #lists.isEmpty( boardList )}" th:each="row : ${boardList}">
        <td class="text-left">
          <a th:href="|@{/board/view}${params.makeQueryString(params.currentPageNo)}&idx=${row.idx}|" th:text="${row.idx}"></a>
              <td th:text="${row.title}"></td>
              <td th:text="${row.writer}"></td>
              <td th:text="${#temporals.format( row.insertTime, 'yyyy-MM-dd' )}"></td>
      </tr>
      <tr th:unless="${not #lists.isEmpty( boardList )}">
        <td colspan="5">조회된 결과가 없습니다.</td>
      </tr>
      </tbody>
    </table>

    <div class="btn_wrap text-right">
      <a th:href="@{/board/write}" class="btn btn-primary waves-effect waves-light">Write</a>
    </div>

    <th:block layout:fragment="paging">
      <nav th:replace="board/fragments/common :: pagination"></nav>
    </th:block>

  </div>
</th:block>
<th:block layout:fragment="script">
  <script th:inline="javascript">
			/*<![CDATA[*/

			function movePage(uri, queryString) {
				location.href = uri + queryString;
			}
			function searchBoard(form){
	            <!--빌때 있을때-->
	            if(isEmpty(form) ==true){
	                  var searchKeyword = document.getElementById("mainSearchKeyword");
	                  if(isEmpty(searchKeyword.value) == true){
	                    alert("plz insert keyword");
	                    searchKeyword.focus();
	                    return false;

	                }
	                form = document.getElementById("searchForm");
	                form.searchKeyword.value = searchKeyword.value;
	                form.submit();
	            }
	            if(isEmpty(form.searchKeyword.value) ==true){
	              alert("plz keyword");
	              form.searchKeyword.focus();
	              return false;
	            }
			}


			/*]]>*/
		</script>
</th:block>
</html>